5-Sensor-system/Farolas_publisher.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>639d33cb-0185-1000-1491-f292789d956a</groupId>
    <name>Farolas</name>
    <snippet>
        <processGroups>
            <id>19617455-8a58-3a04-0000-000000000000</id>
            <parentGroupId>0cd968ec-30d0-3c2f-0000-000000000000</parentGroupId>
            <position>
                <x>424.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>73dc77cb-99ab-34c0-0000-000000000000</id>
                    <parentGroupId>19617455-8a58-3a04-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>19617455-8a58-3a04-0000-000000000000</groupId>
                        <id>086d8f97-2117-39ff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>665eb3fc-bbce-3b2c-9ac1-fb60fde910ed</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>19617455-8a58-3a04-0000-000000000000</groupId>
                        <id>bc3b1f22-5258-32cc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>caa6a929-da7a-30dd-0000-000000000000</id>
                    <parentGroupId>19617455-8a58-3a04-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>19617455-8a58-3a04-0000-000000000000</groupId>
                        <id>bc3b1f22-5258-32cc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>19617455-8a58-3a04-0000-000000000000</groupId>
                        <id>251e8828-c5d4-38ee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b34946d8-df91-3e41-a783-4d3193e0aa1e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f7ee4eb9-db18-3151-0000-000000000000</id>
                    <parentGroupId>19617455-8a58-3a04-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1277.0</x>
                        <y>863.0</y>
                    </bends>
                    <bends>
                        <x>1277.0</x>
                        <y>913.0</y>
                    </bends>
                    <destination>
                        <groupId>19617455-8a58-3a04-0000-000000000000</groupId>
                        <id>bc3b1f22-5258-32cc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>19617455-8a58-3a04-0000-000000000000</groupId>
                        <id>bc3b1f22-5258-32cc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>086d8f97-2117-39ff-0000-000000000000</id>
                    <parentGroupId>19617455-8a58-3a04-0000-000000000000</parentGroupId>
                    <position>
                        <x>808.0</x>
                        <y>1032.0</y>
                    </position>
                    <versionedComponentId>665eb3fc-bbce-3b2c-9ac1-fb60fde910ed</versionedComponentId>
                    <bundle>
                        <artifact>nifi-mqtt-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Broker URI</key>
<value>
    <name>Broker URI</name>
</value>
                            </entry>
                            <entry>
<key>Client ID</key>
<value>
    <name>Client ID</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
<value>
    <name>Last Will Topic</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Message</key>
<value>
    <name>Last Will Message</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
<value>
    <name>Last Will Retain</name>
</value>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
<value>
    <name>Last Will QoS Level</name>
</value>
                            </entry>
                            <entry>
<key>Session state</key>
<value>
    <name>Session state</name>
</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>
    <name>MQTT Specification Version</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>
    <name>Connection Timeout (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>
    <name>Keep Alive Interval (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Topic</key>
<value>
    <name>Topic</name>
</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>
    <name>Quality of Service(QoS)</name>
</value>
                            </entry>
                            <entry>
<key>Retain Message</key>
<value>
    <name>Retain Message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Broker URI</key>
<value>tcp://localhost:1883</value>
                            </entry>
                            <entry>
<key>Client ID</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
                            </entry>
                            <entry>
<key>Last Will Message</key>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
                            </entry>
                            <entry>
<key>Session state</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>30</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>60</value>
                            </entry>
                            <entry>
<key>Topic</key>
<value>smartcities</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Retain Message</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishMQTT</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mqtt.PublishMQTT</type>
                </processors>
                <processors>
                    <id>251e8828-c5d4-38ee-0000-000000000000</id>
                    <parentGroupId>19617455-8a58-3a04-0000-000000000000</parentGroupId>
                    <position>
                        <x>808.0</x>
                        <y>608.0</y>
                    </position>
                    <versionedComponentId>b34946d8-df91-3e41-a783-4d3193e0aa1e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                            <entry>
<key>energy</key>
<value>
    <name>energy</name>
</value>
                            </entry>
                            <entry>
<key>id</key>
<value>
    <name>id</name>
</value>
                            </entry>
                            <entry>
<key>latitude</key>
<value>
    <name>latitude</name>
</value>
                            </entry>
                            <entry>
<key>longitude</key>
<value>
    <name>longitude</name>
</value>
                            </entry>
                            <entry>
<key>status</key>
<value>
    <name>status</name>
</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>
    <name>temperature</name>
</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>
    <name>timestamp</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                            <entry>
<key>energy</key>
<value>${random():mod(100):plus(1)}</value>
                            </entry>
                            <entry>
<key>id</key>
<value>20006-1</value>
                            </entry>
                            <entry>
<key>latitude</key>
<value>43.313471</value>
                            </entry>
                            <entry>
<key>longitude</key>
<value>-1.981839</value>
                            </entry>
                            <entry>
<key>status</key>
<value>1</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>${random():mod(41):plus(1)}</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>${now():toNumber()}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>bc3b1f22-5258-32cc-0000-000000000000</id>
                    <parentGroupId>19617455-8a58-3a04-0000-000000000000</parentGroupId>
                    <position>
                        <x>808.0</x>
                        <y>824.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>id, timestamp, latitude, longitude, temperature, energy, status</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Farola Amara</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>694f4d4c-d5f0-328a-0000-000000000000</id>
            <parentGroupId>0cd968ec-30d0-3c2f-0000-000000000000</parentGroupId>
            <position>
                <x>224.0</x>
                <y>216.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0dc00558-cfb0-398e-0000-000000000000</id>
                    <parentGroupId>694f4d4c-d5f0-328a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>694f4d4c-d5f0-328a-0000-000000000000</groupId>
                        <id>cd707abb-353e-3940-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>694f4d4c-d5f0-328a-0000-000000000000</groupId>
                        <id>b8a2c9dd-c817-3052-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b34946d8-df91-3e41-a783-4d3193e0aa1e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>472534ad-f5b6-311a-0000-000000000000</id>
                    <parentGroupId>694f4d4c-d5f0-328a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>694f4d4c-d5f0-328a-0000-000000000000</groupId>
                        <id>da90a518-baf2-3a6d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>665eb3fc-bbce-3b2c-9ac1-fb60fde910ed</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>694f4d4c-d5f0-328a-0000-000000000000</groupId>
                        <id>cd707abb-353e-3940-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6810a25d-6cc1-3d7f-0000-000000000000</id>
                    <parentGroupId>694f4d4c-d5f0-328a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1277.0</x>
                        <y>863.0</y>
                    </bends>
                    <bends>
                        <x>1277.0</x>
                        <y>913.0</y>
                    </bends>
                    <destination>
                        <groupId>694f4d4c-d5f0-328a-0000-000000000000</groupId>
                        <id>cd707abb-353e-3940-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>694f4d4c-d5f0-328a-0000-000000000000</groupId>
                        <id>cd707abb-353e-3940-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>b8a2c9dd-c817-3052-0000-000000000000</id>
                    <parentGroupId>694f4d4c-d5f0-328a-0000-000000000000</parentGroupId>
                    <position>
                        <x>808.0</x>
                        <y>608.0</y>
                    </position>
                    <versionedComponentId>b34946d8-df91-3e41-a783-4d3193e0aa1e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                            <entry>
<key>energy</key>
<value>
    <name>energy</name>
</value>
                            </entry>
                            <entry>
<key>id</key>
<value>
    <name>id</name>
</value>
                            </entry>
                            <entry>
<key>latitude</key>
<value>
    <name>latitude</name>
</value>
                            </entry>
                            <entry>
<key>longitude</key>
<value>
    <name>longitude</name>
</value>
                            </entry>
                            <entry>
<key>status</key>
<value>
    <name>status</name>
</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>
    <name>temperature</name>
</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>
    <name>timestamp</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                            <entry>
<key>energy</key>
<value>${random():mod(100):plus(1)}</value>
                            </entry>
                            <entry>
<key>id</key>
<value>20018-1</value>
                            </entry>
                            <entry>
<key>latitude</key>
<value>43.308757</value>
                            </entry>
                            <entry>
<key>longitude</key>
<value>-2.010294</value>
                            </entry>
                            <entry>
<key>status</key>
<value>1</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>${random():mod(41):plus(1)}</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>${now():toNumber()}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>cd707abb-353e-3940-0000-000000000000</id>
                    <parentGroupId>694f4d4c-d5f0-328a-0000-000000000000</parentGroupId>
                    <position>
                        <x>808.0</x>
                        <y>824.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>id, timestamp, latitude, longitude, temperature, energy, status</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>da90a518-baf2-3a6d-0000-000000000000</id>
                    <parentGroupId>694f4d4c-d5f0-328a-0000-000000000000</parentGroupId>
                    <position>
                        <x>808.0</x>
                        <y>1032.0</y>
                    </position>
                    <versionedComponentId>665eb3fc-bbce-3b2c-9ac1-fb60fde910ed</versionedComponentId>
                    <bundle>
                        <artifact>nifi-mqtt-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Broker URI</key>
<value>
    <name>Broker URI</name>
</value>
                            </entry>
                            <entry>
<key>Client ID</key>
<value>
    <name>Client ID</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
<value>
    <name>Last Will Topic</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Message</key>
<value>
    <name>Last Will Message</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
<value>
    <name>Last Will Retain</name>
</value>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
<value>
    <name>Last Will QoS Level</name>
</value>
                            </entry>
                            <entry>
<key>Session state</key>
<value>
    <name>Session state</name>
</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>
    <name>MQTT Specification Version</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>
    <name>Connection Timeout (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>
    <name>Keep Alive Interval (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Topic</key>
<value>
    <name>Topic</name>
</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>
    <name>Quality of Service(QoS)</name>
</value>
                            </entry>
                            <entry>
<key>Retain Message</key>
<value>
    <name>Retain Message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Broker URI</key>
<value>tcp://localhost:1883</value>
                            </entry>
                            <entry>
<key>Client ID</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
                            </entry>
                            <entry>
<key>Last Will Message</key>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
                            </entry>
                            <entry>
<key>Session state</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>30</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>60</value>
                            </entry>
                            <entry>
<key>Topic</key>
<value>smartcities</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Retain Message</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishMQTT</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mqtt.PublishMQTT</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Farola Antiguo</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>6bd08831-1c77-33ea-0000-000000000000</id>
            <parentGroupId>0cd968ec-30d0-3c2f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>2d39964c-0120-3a3b-0000-000000000000</id>
                    <parentGroupId>6bd08831-1c77-33ea-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6bd08831-1c77-33ea-0000-000000000000</groupId>
                        <id>d3b07fbc-9336-3dc2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>665eb3fc-bbce-3b2c-9ac1-fb60fde910ed</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6bd08831-1c77-33ea-0000-000000000000</groupId>
                        <id>f0bd35cb-eb6e-3fdc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a51bd5f0-b1f1-3d82-0000-000000000000</id>
                    <parentGroupId>6bd08831-1c77-33ea-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1277.0</x>
                        <y>863.0</y>
                    </bends>
                    <bends>
                        <x>1277.0</x>
                        <y>913.0</y>
                    </bends>
                    <destination>
                        <groupId>6bd08831-1c77-33ea-0000-000000000000</groupId>
                        <id>f0bd35cb-eb6e-3fdc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>6bd08831-1c77-33ea-0000-000000000000</groupId>
                        <id>f0bd35cb-eb6e-3fdc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b0938f50-8337-31dd-0000-000000000000</id>
                    <parentGroupId>6bd08831-1c77-33ea-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6bd08831-1c77-33ea-0000-000000000000</groupId>
                        <id>f0bd35cb-eb6e-3fdc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6bd08831-1c77-33ea-0000-000000000000</groupId>
                        <id>4ff5099e-a7ec-3019-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b34946d8-df91-3e41-a783-4d3193e0aa1e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>4ff5099e-a7ec-3019-0000-000000000000</id>
                    <parentGroupId>6bd08831-1c77-33ea-0000-000000000000</parentGroupId>
                    <position>
                        <x>808.0</x>
                        <y>608.0</y>
                    </position>
                    <versionedComponentId>b34946d8-df91-3e41-a783-4d3193e0aa1e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                            <entry>
<key>energy</key>
<value>
    <name>energy</name>
</value>
                            </entry>
                            <entry>
<key>id</key>
<value>
    <name>id</name>
</value>
                            </entry>
                            <entry>
<key>latitude</key>
<value>
    <name>latitude</name>
</value>
                            </entry>
                            <entry>
<key>longitude</key>
<value>
    <name>longitude</name>
</value>
                            </entry>
                            <entry>
<key>status</key>
<value>
    <name>status</name>
</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>
    <name>temperature</name>
</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>
    <name>timestamp</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                            <entry>
<key>energy</key>
<value>${random():mod(100):plus(1)}</value>
                            </entry>
                            <entry>
<key>id</key>
<value>20009-1</value>
                            </entry>
                            <entry>
<key>latitude</key>
<value>43.290831</value>
                            </entry>
                            <entry>
<key>longitude</key>
<value>-1.983960</value>
                            </entry>
                            <entry>
<key>status</key>
<value>1</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>${random():mod(41):plus(1)}</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>${now():toNumber()}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>d3b07fbc-9336-3dc2-0000-000000000000</id>
                    <parentGroupId>6bd08831-1c77-33ea-0000-000000000000</parentGroupId>
                    <position>
                        <x>808.0</x>
                        <y>1032.0</y>
                    </position>
                    <versionedComponentId>665eb3fc-bbce-3b2c-9ac1-fb60fde910ed</versionedComponentId>
                    <bundle>
                        <artifact>nifi-mqtt-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Broker URI</key>
<value>
    <name>Broker URI</name>
</value>
                            </entry>
                            <entry>
<key>Client ID</key>
<value>
    <name>Client ID</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
<value>
    <name>Last Will Topic</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Message</key>
<value>
    <name>Last Will Message</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
<value>
    <name>Last Will Retain</name>
</value>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
<value>
    <name>Last Will QoS Level</name>
</value>
                            </entry>
                            <entry>
<key>Session state</key>
<value>
    <name>Session state</name>
</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>
    <name>MQTT Specification Version</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>
    <name>Connection Timeout (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>
    <name>Keep Alive Interval (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Topic</key>
<value>
    <name>Topic</name>
</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>
    <name>Quality of Service(QoS)</name>
</value>
                            </entry>
                            <entry>
<key>Retain Message</key>
<value>
    <name>Retain Message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Broker URI</key>
<value>tcp://localhost:1883</value>
                            </entry>
                            <entry>
<key>Client ID</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
                            </entry>
                            <entry>
<key>Last Will Message</key>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
                            </entry>
                            <entry>
<key>Session state</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>30</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>60</value>
                            </entry>
                            <entry>
<key>Topic</key>
<value>smartcities</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Retain Message</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishMQTT</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mqtt.PublishMQTT</type>
                </processors>
                <processors>
                    <id>f0bd35cb-eb6e-3fdc-0000-000000000000</id>
                    <parentGroupId>6bd08831-1c77-33ea-0000-000000000000</parentGroupId>
                    <position>
                        <x>808.0</x>
                        <y>824.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>id, timestamp, latitude, longitude, temperature, energy, status</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Farola Miramn</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>12/30/2022 16:49:37 CET</timestamp>
</template>
